@model IEnumerable<Judgmentrac.ViewModels.DisputeViewModel>

@{
    ViewBag.Title = "My Judgments";
}

@{
    var grid = new WebGrid(Model,
        defaultSort:"Name", 
        columnNames:new[]{"Name","Principal","Rate","StartDate"},
        ajaxUpdateContainerId: "grid"
    );
}
<div class="section">
    <div class="container title-section">
        <div class="pull-left">
            <h4>Your Judgment Tracker</h4>
        </div>
        <div class="pull-right">
            @Html.ActionLink("Create a new Judgment", "Create", "Judgment", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-xlarge" })    
        </div>
    </div>
    <div class="table-header-section">
        <div class="container">
            <table class="header-table table">
                <thead>
                    <tr class="webgrid-header">
                            <th class="left" style="width:28%">Name</th>
                            <th>Principal</th>
                            <th>Rate</th>
                            <th>Amount Due</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Payments</th>
                    </tr>
                </thead>
             </table>

        </div>
    </div>
    <div class="container">
        <table class="main-table table">
            <thead>
                <tr class="webgrid-header">
                   
                        <th class="left" style="width:28%"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                   
                </tr>
            </thead>
            <tbody>
            @foreach (var disputeView in Model)
            {
                <tr>
                    <td class="left">
                        @Html.Hidden("disputeID", @disputeView.Dispute.ID)
                        @disputeView.Dispute.Name
                    </td>
                    <td>$@disputeView.Dispute.Principal</td>
                    <td>@disputeView.Dispute.Rate%</td>
                    <td>$@(disputeView.Dispute.Principal - disputeView.PaymentTotal)</td>
                    <td>@disputeView.Dispute.StartDate.ToString("d")</td>
                    <td>@disputeView.Dispute.EndDate.ToString("d")</td>
                    <td>@disputeView.Dispute.Payments.Count</td>
     
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
<script type="text/javascript">
    // Table row handler - open / close payments
    $(".main-table tr:not('.payments')").live('click', function () {
        var $this = $(this)

        if ($this.next()[0] === $('.payments')[0]) {
            closePayments($('.payments .close'));
        }
        else {
            closePayments($('.payments .close'));
            var popDown = $('<tr class="payments" />').load('/Payment/PartialDetails/' + $this.find('#disputeID').val());
            $this.after(popDown);
        }
    });

    // Close button handler
    $('.payments .close').live('click', function (e) {
        e.preventDefault();
        closePayments($(this));
    });

    // Close (remove) payments
    var closePayments = function (node) {
        node.closest('tr.payments').remove()
    };
</script>       
}